body {
}

.paper-textured {
    background-image:url('../images/paper.png');
    background-repeat:repeat;
}

.white-textured {
    background-image:url('../images/white-txt.png');
    background-repeat:repeat;
}

.carbon-textured {
    background-image:url('../images/carbon-fibre.png');
    background-repeat:repeat;
}

.soft-frame {
  border-radius: 15px;
}

footer {
    background: url('../images/bg02.jpg') top center repeat-x;
    border-radius: 5px;
    padding: 20px 0;
    margin: 0 auto;
    clear: both;
    color: #7b7b7b;
    text-shadow: 2px 2px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 2px 2px 1px rgba(0,0,0,.5);
    -webkit-text-shadow: 2px 2px 1px rgba(0,0,0,.5);
}

footer #panel {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer #panel .panel-inner {
  display: inline;
}

.loginFormContainer {
  border-radius: 15px;
  border-width: 2px;
  border-style: groove;
  padding: 16px;
  width: 500px;
}


.carousel-holder {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

#mainColumn {
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  position: relative;
  height:100%;
}

#contentArea {
  width: 96%;
  position: relative;
  border-radius: 10px;
  padding: 0.75em;
  padding-left: 0px;
  margin-top: 24px; 
  float: left;
}

.sectionHodler {
  width: 100%;
  position: relative;
  /*border-radius: 10px;
  background: rgba(255,255,255,0.5);*/
  margin-top: 24px; 
}

.section {
  width: 80%;
  position: relative;
  border-radius: 10px;
  background: rgba(255,255,255,0.10);
  padding: 0.75em;
  float: left;
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    .authentication-panel {
        width: 50%;
        background-image:url('../images/lined_paper.png');
        background-repeat:repeat;
    }

    .registration-form {
        border-radius: 10px;
        background: rgba(255,255,255,0.10);
        padding: 32px;
        width: 60%;
    }

    .authentication-form {
        margin-left: 28% !important;
        width: 40%;
    }

    .result-panel {
        margin-top: 32px;
        width: 67%;
    }

    .result-panel-sml {
        width: 600px;
        display: none;
        font-size: 18px;
    }

    .small-form {
        width: 40%;
        margin-bottom: 24px;
    }
    
    .youtube-video {
        width: 560px;
        height: 315px;
    }
    
    .input-sml {
        width: 40%;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px) {
    .authentication-panel {
        background-image:url('../images/honey_im_subtle.png');
        background-repeat:repeat;
    }

    .login-form {
        margin: 16px;
    }
    .result-panel {
        margin-top: 32px;
    }

    .result-panel-sml {
        display: none;
        font-size: 18px;
    }

    .small-form {
        margin-bottom: 24px;
    }
}


.login-form button {
  display: inline;
  margin-top: 15px;
}

.msg-post-form {
  padding: 32px;
  padding-left: 0px;
  width: 67%;
}

.msg-post-form button {
  margin-top: 16px;
  margin-left: 32px;
}

.msg-post-form label {
  margin-left: 32px;
}

.msg-post-form textarea {
  resize: none;
  margin-left: 32px;
}

.forum-entries-holder {
  width: 67%;
}

#home-logo img {
  height: 50px;
}

#home-logo {
  padding-left: 16px;
  padding-right: 24px;
}

.product-section {
  margin-bottom: 20px;
}

.picker-sml {
  display: inline;
  width: 64px;
}

.shopping-cart-thumbnail {
  float: left;
  max-width: 220px;
  margin-right: 24px;
}

/* usually used for the 'X' button in the upper-right corner for closing a window or for deleting a product */
.close-delete-btn {
  float: right;
  cursor: pointer;
}

.small-form input {
  margin-top: 16px;
}

.small-form button {
  margin-top: 16px;
}

.hand-pointer {
    cursor: pointer;
}

ul.ui-autocomplete.ui-menu {
  width: 36%;
  left: 3.1% !important;
  list-style-position: inside;
  cursor: pointer;
  z-index: 1000;
  font-size: 18px;
  color: black;
  font-weight: bold;
  list-style-type: none;
}

ul.ui-autocomplete.ui-menu li{
  background-color: white;
}

ul.ui-autocomplete.ui-menu li:hover {
  background-color: #C0C0C0;
}
#orders-section {
    width: 75%;
    margin-bottom: 16px;
    margin-top: 32px;
}

#orders-section .row {
    font-size: large;
}

#orders-section .head-row {
    font-size: large;
    font-weight: bold;
}
#orders-section .row:nth-child(even) {
    background-color: white;
}

.shipping-address-form {
    width: 50%;
}

.order-panel {
    width: 90%;
}

.orders-state-filter {
    margin-bottom: 24px;
    margin-top: 24px;
}

.orders-state-filter {
    margin-bottom: 24px;
    margin-top: 24px;
}

.widget-placeholder {
    border: solid;
    border-radius: 1px;
    min-height: 256px;
}